{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1>{{ habit.goal }}</h1>

    <a href="{% url 'dailyrecord_form' habit.id %}">Add your daily record.</a></p>

    {% for dailyrecord in habit.dailyrecord_set.all %}
    <hr>
    <p>({{dailyrecord.date}}): {{dailyrecord.quantity}}</p>

        {% if dailyrecord.quantity >= habit.quantity %}
            <p>Congratulations - you've met your goal!</p>
        {% else %}
            <p>You have not met your goal yet.</p>
        {% endif %}
    {% endfor %}
    <hr>

</div>

{% endblock %}